@import "../../styles/function.scss";
@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}
.form-group {
  position: relative;
  margin-bottom: rem(20px);
}
.form-control {
  font-family: var(--font-family2);
  font-size: rem(24px);
  line-height: rem(36px);
  color: var(--white);
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: rem(12px);
  padding: rem(11px) rem(20px) rem(11px) rem(64px);
  transition: 0.3s all ease-in-out;
  caret-color: var(--white);
  width: 100%;
  outline: 0;
  font-weight: 400;
  @include placeholder {
    color: rgba(255, 255, 255, 0.3);
    transition: 0.3s all ease-in-out;
  }
  &:focus {
    border-color: var(--white);
    outline: 0;
  }
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    box-shadow: 0 0 0 1000px var(--white) inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}
.left-icon {
  position: absolute;
  top: 0;
  width: rem(24px);
  height: rem(24px);
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  z-index: 1;
  pointer-events: none;
  margin: rem(20px) 0 0 rem(20px);
}
