@import "../../../styles/function.scss";
.banner-section {
  min-height: 100vh;
  width: 100%;
  margin-top: rem(-88px);
  //z-index: -1;
  position: relative;
}
.ellipse,
.gradient-circle {
  position: absolute;
}
.ellipse,
.gradient-circle {
  border-radius: 50%;
}
.ellipse {
  width: rem(27px);
  height: rem(356px);
  top: 0;
  filter: blur(70px);
}
.ellipse1,
.ellipse2 {
  left: 0;
}
.ellipse3,
.ellipse4 {
  right: 0;
}
.ellipse1 {
  background-color: var(--light-purple);
  margin: rem(-30px) 0 0 rem(64px);
}
.ellipse2 {
  margin: rem(-108px) 0 0 rem(334px);
}
.ellipse2,
.ellipse4 {
  background-color: var(--orange);
}
.ellipse3 {
  background-color: var(--blue);
  margin-right: rem(403px);
}
.ellipse4 {
  margin: rem(-108px) rem(16px) 0 0;
}
.gradient-circle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gradient-circle {
  width: rem(302px);
  height: rem(302px);
  overflow: hidden;
  filter: blur(25px);
  border-radius: 50%;
  will-change: transform;
  &:before {
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    left: 0;
    right: 0;
    top: 0;
  }
  &:before {
    background-image: url("./images/gradient.png");
  }
}
.gradient-circle-2 {
  &:before {
    background-image: url("./images/gradient-2.png");
  }
}
.banner-content {
  position: relative;
  max-width: rem(630px);
  margin: 0 auto;
  min-height: 100vh;
}
.bottom-pos {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: rem(20px);
}
.inst,
.inst2 {
  letter-spacing: -0.03em;
}
.inst {
  font-size: rem(18px);
  line-height: rem(24px);
}
.inst2 {
  font-size: rem(16px);
  line-height: rem(22px);
  margin-bottom: rem(20px);
}
.vector-line {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-53%);
  z-index: -1;
}
.circle,
.square {
  position: absolute;
  overflow: hidden;
}
.square {
  border-radius: rem(20px);
}
.circle {
  border-radius: 50%;
  width: rem(70px);
  height: rem(70px);
}
.circle1 {
  background-color: var(--light-purple);
}
.circle2,
.circle4 {
  background-color: var(--orange);
}
.circle3 {
  background-color: var(--blue);
}
.circle1 {
  top: 50%;
  left: 0;
  margin: 2% 0 0% 3%;
}
.circle2 {
  bottom: 0;
  left: 0;
  margin: 0 0 0 21%;
}
.circle3 {
  right: 0;
  top: 0;
  margin: 4% 23% 0 0;
}
.square {
  right: 0;
  top: 0;
  margin: -2% 15% 0 0;
  width: rem(85px);
  height: rem(85px);
}
.circle4 {
  right: 0;
  bottom: 0;
  margin: 0 -1% 6% 0;
}
.content-section {
  min-height: 100vh;
  padding: rem(240px) 0 rem(140px) 0;
  .circle,
  .square {
    top: 0;
    left: 0;
    bottom: auto;
    right: auto;
    margin: 0;
    transform: scale(0.7);
  }
  .square {
    margin: -1.5% 0 0 63%;
    transform: scale(1);
  }
  .circle1 {
    margin-left: 21%;
    .circle-i {
      transform: rotate(-12deg);
    }
  }
  .circle2 {
    margin: -1.5% 0 0 35%;
  }
  .circle3 {
    margin: -2.5% 0 0 49%;
    .circle-i {
      transform: rotate(-45deg);
    }
  }
  .circle4 {
    margin-left: 77%;
    .circle-i {
      transform: rotate(12deg);
    }
  }
}
.max-w-767 {
  max-width: rem(767px);
}

.vector-h {
  height: rem(80px);
}
.content {
  padding-top: rem(60px);
}
.inst3 {
  font-size: rem(18px);
  line-height: rem(20px);
  margin-top: rem(20px);
}
.content-h {
  min-height: calc(100vh - 280px);
}
.max-w-636 {
  max-width: rem(636px);
  margin: 0 auto;
}
.gradient-text {
  background: -webkit-linear-gradient(45deg, #bd00ff, #ff3d00 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section {
  min-height: 100vh;
  padding: rem(30px) 0;
}
.big-title {
  font-size: rem(120px);
  line-height: rem(132px);
  letter-spacing: -0.03em;
  z-index: 1;
  white-space: nowrap;
  //transform: translateX(-1000px);
}
.outline-text {
  -webkit-text-stroke: 3px var(--white);
  -webkit-text-fill-color: transparent;
}
.max-w-636,
.max-w-767,
.content {
  padding-left: rem(20px);
  padding-right: rem(20px);
}
@media (min-width: 640px) {
  .pt-300 {
    padding-top: rem(300px);
  }
  .vector-h {
    display: none;
  }
}
@media (max-width: $sm-device) {
  .banner-section {
    margin-top: rem(-58px);
  }
  .gradient-circle:not(.gradient-circle-2) {
    width: rem(475px);
    height: rem(475px);
    margin-left: 0;
    right: 0;
    transform: translate(0%, -50%);
  }
  .content-section {
    padding: rem(70px) 0;
    .circle {
      transform: scale(0.5);
    }
    .circle3 {
      left: 50%;
    }
    .circle4,
    .square {
      right: 0;
      left: auto;
    }
    .square {
      margin: rem(-20px) rem(50px) 0 0;
      transform: scale(0.6);
    }
    .circle1 {
      margin: 0 0 0 rem(10px);
      transform-origin: left;
    }
    .circle2 {
      margin: rem(-10px) 0 0 rem(70px);
    }
    .circle3 {
      margin: rem(-20px) 0 0 rem(-25px);
    }
    .circle4 {
      margin: 0 rem(10px) 0 0;
      transform-origin: right;
      .circle-i {
        transform: rotate(12deg);
      }
    }
  }
  .big-title {
    font-size: rem(60px);
    line-height: rem(72px);
  }
  .outline-text {
    -webkit-text-stroke: 2px var(--white);
  }
  .vector-line {
    display: none;
  }
}

.circle1 {
  top: 53%;
  left: 3%;
  // margin: 2% 0 0% 3%;
}
.circle2 {
  bottom: 0;
  left: 21%;
  //margin: 0 0 0 21%;
}
.circle3 {
  right: 23%;
  top: 4%;
  // margin: 4% 23% 0 0;
}
.square {
  right: 15%;
  top: -2%;
  // margin: -2% 15% 0 0;
  width: rem(85px);
  height: rem(85px);
}
.circle4 {
  right: -1%;
  bottom: 6%;
  margin: 0 -1% 6% 0;
}

.animation {
  .circle-animation {
    animation: move1 1s forwards, zoomin 1s forwards;
    .circle-i {
      transform: rotate(-12deg);
    }
  }
  .circle-animation2 {
    animation: move2 1s forwards, zoomin 1s forwards;
  }
  .circle-animation3 {
    animation: move3 1s forwards, zoomin 1s forwards;
    .circle-i {
      transform: rotate(-45deg);
    }
  }
  .square-animation4 {
    animation: move4 1s forwards, zoomin 1s forwards;
    .circle-i {
      transform: rotate(14deg);
    }
  }
  .circle-animation4 {
    animation: move5 1s forwards linear, zoomin 1s forwards linear;
    .circle-i {
      transform: rotate(12deg);
    }
  }
}
.circle-animation,
.circle-animation2,
.circle-animation3,
.circle-animation4,
.square-animation4 {
  transform: scale(0.7);
  will-change: transform;
  transition: all 0.15s ease-out;
}
.circle-animation {
  animation: mover1 1s forwards, zoominr 1s forwards;
  top: calc(50vh + 85%);
  left: 21%;
  .circle-i {
    transform: rotate(-12deg);
  }
}
.circle-animation2 {
  animation: mover2 1s forwards, zoominr 1s forwards;
  bottom: calc(-50vh - 20%);
  left: 14%;
}
.circle-animation3 {
  animation: mover3 1s forwards, zoominr 1s forwards;
  right: 25%;
  top: calc(50vh + 52%);
  .circle-i {
    transform: rotate(-45deg);
  }
}
.square-animation4 {
  animation: mover4 1s forwards, zoominr 1s forwards;
  top: calc(50vh + 94%);
  right: 20%;
  .circle-i {
    transform: rotate(14deg);
  }
}
.circle-animation4 {
  animation: mover5 1s forwards, zoominr 1s forwards;
  right: 22%;
  bottom: calc(-50vh - 75%);
  .circle-i {
    transform: rotate(12deg);
  }
}

@keyframes zoomin {
  0%,
  50%,
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.7);
  }
}
@keyframes move1 {
  0% {
    //margin: 2% 0 0% 3%;
    top: 49%;
    left: 0%;
  }
  100% {
    //margin: calc(50vh + 10%) 0 0 21%;
    top: calc(50vh + 85%);
    left: 21%;
  }
}
@keyframes move2 {
  0% {
    // margin: 0 0 0 21%;
    bottom: 0;
    left: 0;
  }
  100% {
    bottom: calc(-50vh - 20%);
    left: 14%;
    //margin: 0 0 calc(-50vh - 5%) 35%;
  }
}
@keyframes move3 {
  0% {
    //margin: 4% 23% 0 0;
    top: 30%;
    right: 4%;
  }
  100% {
    //margin: calc(50vh + 15%) 49% 0 0;
    right: 25%;
    top: calc(50vh + 52%);
  }
}
@keyframes move4 {
  0% {
    //margin: -2% 15% 0 0;
    top: 0;
    right: 0;
  }
  100% {
    //margin: calc(50vh + 15%) 36% 0 0;
    top: calc(50vh + 94%);
    right: 20%;
  }
}
@keyframes move5 {
  0% {
    //margin: 0 -1% 6% 0;
    right: 0;
    bottom: 0;
  }
  100% {
    //margin: 0 24% calc(-50vh - 6.5%) 0;
    right: 22%;
    bottom: calc(-50vh - 75%);
  }
}
@keyframes zoominr {
  0%,
  50%,
  75% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes mover1 {
  0% {
    //margin: calc(50vh + 10%) 0 0% 21%;
    top: calc(50vh + 85%);
    left: 21%;
  }
  100% {
    //margin: 2% 0 0% 3%;
    top: 49%;
    left: 0%;
  }
}
@keyframes mover2 {
  0% {
    // margin: 0 0 calc(-50vh - 5%) 35%;
    bottom: calc(-50vh - 20%);
    left: 14%;
  }
  100% {
    //margin: 0 0 0 21%;
    bottom: 0;
    left: 0;
  }
}
@keyframes mover3 {
  0% {
    //margin: calc(50vh + 15%) 49% 0 0;
    right: 25%;
    top: calc(50vh + 52%);
  }
  100% {
    //margin: 4% 23% 0 0;
    top: 30%;
    right: 4%;
  }
}
@keyframes mover4 {
  0% {
    //margin: calc(50vh + 15%) 36% 0 0;
    top: calc(50vh + 94%);
    right: 20%;
  }
  100% {
    // margin: -2% 15% 0 0;
    top: 0;
    right: 0;
  }
}
@keyframes mover5 {
  0% {
    //margin: 0 24% calc(-50vh - 6.5%) 0;
    right: 22%;
    bottom: calc(-50vh - 75%);
  }
  100% {
    // margin: 0 -1% 6% 0;
    right: 0;
    bottom: 0;
  }
}
