@import "../../styles/function.scss";
.blog-section {
  width: rem(385px);
  height: rem(444px);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: rem(54px) auto 0 auto;
  &:after {
    content: "";
    background-image: url("./images/polygon.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.gradient-circle {
  width: rem(396px);
  height: rem(396px);
  overflow: hidden;
  filter: blur(25px);
  will-change: transform;
  position: absolute;
  right: 0;
  top: 0;
  margin: rem(-80px) rem(20px) 0 0;
  background-image: url("./images/gradient.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.gradient-circle-2 {
  width: rem(737px);
  height: rem(737px);
  left: 0;
  margin: rem(230px) 0 0 rem(-368px);
}
.blog-container {
  max-width: rem(920px);
  margin: rem(171px) auto 0 auto;
}
.list {
  padding: rem(75px) 0;
  color: var(--white);
  display: block;
}
.date {
  font-family: var(--font-family2);
  font-size: rem(24px);
  line-height: rem(36px);
  text-transform: capitalize;
  font-weight: 400;
  margin-bottom: rem(24px);
}
.title {
  font-size: rem(50px);
  line-height: rem(75px);
  letter-spacing: -0.04em;
  text-transform: capitalize;
  font-weight: 500;
}
.image {
  position: absolute;
  width: 50%;
  height: 100%;
  object-fit: cover;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
  z-index: -10;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
//single blog
.post-box,
.banner {
  > span {
    position: absolute !important;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100%;
    width: 100%;
    img {
      object-fit: cover;
      object-position: center;
    }
  }
}
.banner {
  height: rem(400px);
  margin-top: rem(-84px);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  &:after {
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}
.content {
  padding-bottom: rem(150px);
  p {
    font-size: rem(18px);
    line-height: rem(36px);
  }
}
.banner-content {
  padding-top: rem(300px);
  max-width: rem(860px);
}
.max-w-854 {
  max-width: rem(854px);
}
.small-text {
  color: rgba(255, 255, 255, 0.7);
}
.section-img {
  margin: 0 rem(-20px);
  min-height: rem(490px);
}
.related-post {
  background-color: var(--dark-gray);
}

.post-box {
  padding-bottom: 57%;
  min-height: rem(200px);
  border-radius: rem(12px);
  position: relative;
  > span,
  > span img {
    border-radius: rem(12px);
  }
  &:after {
    content: "";
    width: rem(40px);
    height: rem(40px);
    background-image: url("./images/arrow.svg");
    background-size: rem(16px) rem(16px);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    margin: rem(20px) rem(20px) 0 0;
    background-color: var(--white);
    border-radius: 50%;
    transition: 0.2s all ease;
  }
}
.post-title {
  font-size: rem(16px);
  line-height: rem(18px);
}
.name {
  font-size: rem(20px);
  line-height: rem(30px);
  letter-spacing: -0.04em;
}
.post {
  letter-spacing: -0.04em;
  color: rgba(255, 255, 255, 0.7);
}
.circle-70 {
  width: rem(70px);
  height: rem(70px);
}
.btn-share {
  min-height: rem(40px);
  padding: rem(8px) rem(15px);
}
.share-section {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
@media (max-width: $sm-device) {
  .title {
    font-size: rem(24px);
    line-height: rem(30px);
  }
  .blog-container {
    margin: rem(50px) auto 0 auto;
  }
  .date {
    font-size: rem(18px);
    line-height: rem(24px);
  }
  .list {
    padding: rem(35px) 0;
  }
  .gradient-circle {
    width: rem(320px);
    height: rem(320px);
    margin: rem(-120px) rem(-60px) 0 0;
  }
  .gradient-circle-2 {
    width: rem(400px);
    height: rem(400px);
    margin: rem(230px) 0 0 rem(-200px);
  }
}
