@import "./function";
:root {
  --font-family: "Trap", sans-serif;
  --font-family2: "General Sans", sans-serif;
  --white: #ffffff;
  --black: #000000;
  --bg-color: var(--black);
  --light-purple: #e5e0fb;
  --yellow: #ffd029;
  --orange: #fe7825;
  --blue: #313cf8;
  --royal-blue: #3340f9;
  --purple: #7857fc;
  --pink: #f9337a;
  --red: #f93333;
  --light-red: #e96456;
  --container-width: #{rem(1330px)};
  --h1-size: #{rem(50px)};
  --h1-line-height: #{rem(55px)};
  --h2-size: #{rem(40px)};
  --h2-line-height: #{rem(60px)};
  --h3-size: #{rem(30px)};
  --h3-line-height: #{rem(52px)};
  --h4-size: #{rem(24px)};
  --h4-line-height: #{rem(36px)};
}
html {
  scroll-behavior: smooth;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family) !important;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.custom-container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 rem(20px);
  width: 100%;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
.min-h-100vh {
  min-height: 100vh;
}
//fonts
@font-face {
  font-family: "Trap";
  src: url("../public/fonts/trap/trap-bold/Trap-Bold.eot");
  src: url("../public/fonts/trap/trap-bold/Trap-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/trap/trap-bold/Trap-Bold.woff2") format("woff2"),
    url("../public/fonts/trap/trap-bold/Trap-Bold.woff") format("woff"),
    url("../public/fonts/trap/trap-bold/Trap-Bold.ttf") format("truetype"),
    url("../public/fonts/trap/trap-bold/Trap-Bold.svg#Trap-Bold") format("svg"),
    url("../public/fonts/trap/trap-bold/Trap-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Trap";
  src: url("../public/fonts/trap/trap-medium/Trap-Medium.eot");
  src: url("../public/fonts/trap/trap-medium/Trap-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/trap/trap-medium/Trap-Medium.woff2") format("woff2"),
    url("../public/fonts/trap/trap-medium/Trap-Medium.woff") format("woff"),
    url("../public/fonts/trap/trap-medium/Trap-Medium.ttf") format("truetype"),
    url("../public/fonts/trap/trap-medium/Trap-Medium.svg#Trap-Regular")
      format("svg"),
    url("../public/fonts/trap/trap-medium/Trap-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Trap";
  src: url("../public/fonts/trap/trap-regular/Trap-Regular.eot");
  src: url("../public/fonts/trap/trap-regular/Trap-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/trap/trap-regular/Trap-Regular.woff2") format("woff2"),
    url("../public/fonts/trap/trap-regular/Trap-Regular.woff") format("woff"),
    url("../public/fonts/trap/trap-regular/Trap-Regular.ttf") format("truetype"),
    url("../public/fonts/trap/trap-regular/Trap-Regular.svg#Trap-Regular")
      format("svg"),
    url("../public/fonts/trap/trap-regular/Trap-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Trap";
  src: url("../public/fonts/trap/trap-light/Trap-Light.eot");
  src: url("../public/fonts/trap/trap-light/Trap-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/trap/trap-light/Trap-Light.woff2") format("woff2"),
    url("../public/fonts/trap/trap-light/Trap-Light.woff") format("woff"),
    url("../public/fonts/trap/trap-light/Trap-Light.ttf") format("truetype"),
    url("../public/fonts/trap/trap-light/Trap-Light.svg#Trap-Light")
      format("svg"),
    url("../public/fonts/trap/trap-light/Trap-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "General Sans";
  src: url("../public/fonts/general-sans/GeneralSans-Regular.eot");
  src: url("../public/fonts/general-sans/GeneralSans-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/general-sans/GeneralSans-Regular.woff2")
      format("woff2"),
    url("../public/fonts/general-sans/GeneralSans-Regular.woff") format("woff"),
    url("../public/fonts/general-sans/GeneralSans-Regular.ttf")
      format("truetype"),
    url("../public/fonts/general-sans/GeneralSans-Regular.svg") format("svg"),
    url("../public/fonts/general-sans/GeneralSans-Regular.otf")
      format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
//typography
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  font-weight: 700;
}
.font-2 {
  font-family: var(--font-family2);
}
h1,
.h1 {
  font-size: var(--h1-size);
  line-height: var(--h1-line-height);
}
h2,
.h2 {
  font-size: var(--h2-size);
  line-height: var(--h2-line-height);
}
h3,
.h3 {
  font-size: var(--h3-size);
  line-height: var(--h3-line-height);
}
h4,
.h4 {
  font-size: var(--h4-size);
  line-height: var(--h4-line-height);
}
@media (max-width: $sm-device) {
  h1,
  .h1 {
    font-size: rem(40px);
    line-height: rem(44px);
  }
  h2,
  .h2 {
    font-size: rem(30px);
    line-height: rem(40px);
  }
  h3,
  .h3 {
    font-size: rem(20px);
    line-height: rem(28px);
  }
  h4,
  .h4 {
    font-size: rem(18px);
    line-height: rem(24px);
  }
}
//slider css
.custom-slider {
  .swiper {
    padding-bottom: rem(100px);
  }
  .swiper-button-prev,
  .swiper-button-next {
    left: auto;
    right: 0;
    top: auto;
    bottom: 0;
    width: rem(58px);
    height: rem(58px);
    border: 1px solid var(--white);
    border-radius: 50%;
    z-index: 11;
    &:after {
      content: "";
      background-image: url("../components/testimonials/images/arrow.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: rem(17px);
      height: rem(11px);
    }
  }
  .swiper-button-prev {
    margin-right: rem(78px);
  }
  .swiper-button-next {
    &:after {
      transform: rotate(180deg);
    }
  }
  .swiper-slide-active {
    font-size: 10px;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1023px) {
  .custom-slider {
    margin: 0 rem(-20px);
    .swiper-slide {
      font-size: 8px;
    }
    .swiper-slide-active {
      font-size: 12px;
    }
    .swiper-button-next {
      margin-right: rem(20px);
    }
    .swiper-button-prev {
      margin-right: rem(98px);
    }
  }
}

@media (max-width: $sm-device) {
  .custom-slider {
    .swiper-slide,
    .swiper-slide-active {
      font-size: 8px;
    }
  }
}

//
.has-scroll-smooth body,
html.has-scroll-smooth {
  overflow: hidden;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.fade {
  animation: fade 0.5s forwards ease;
  opacity: 0;
}
.fadein {
  animation: fadein 0.5s forwards ease;
  opacity: 0;
}
.op-0 {
  opacity: 0;
}
.delay {
  animation-delay: 0.5s;
}
